body {
  background-color: firebrick;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

.cards {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
  font-size: 1.2em;
}

.card:hover {
  background-color: yellow;
  color: black;
}

.card-detail {
  background-color:antiquewhite;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: left;
  border: 2px solid yellow;
}

.card-detail h2 {
  text-transform: capitalize;
  color:darksalmon;
}

.card-detail p {
  color:black;
}

.card-detail ul {
  color:black;
}

button {
  background-color: yellow;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: background 0.3s;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}


